<div class="container">
    <h1>Add a new Book</h1>
    <p><b>Please fill this form and submit to add the book to the database.</b></p>
  
    <div class="formWrapper">
        <input type="text" name="author" placeholder="Author:" #author> <br>
        <input type="text" name="title" placeholder="Title:" #title> <br>
        <input type="number" name="pages" placeholder="Pages:" #pages> <br>
        <input type="text" name="genre" placeholder="Genre:" #genre> <br>
        <input type="text" name="is_lent" placeholder="Is lent (true or false):" #is_lent> <br>
      <div class="button_container">
        <button
          (click)="addBook(author.value, title.value, pages.value, genre.value, is_lent.value)">
          Add Book
        </button>
        <button (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>